.CardItem {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.ItemHeader {
  color: #333;
}

.ItemImg {
  max-width: 50%;
  height: auto;
}

.Info {
  margin-bottom: 10px;
}